.login
  height 100%
  width 100%
  position fixed
  top 0
  left 0
  background 50% 50% url("./logo_oa_bg.jpg") no-repeat
  background-size cover
  .from-warpper
    position fixed
    top 60%
    width 100%
    left 0;
    transform translate3d(0, -50%, 0)
  .logo
    width: 50%
    margin 0 auto
    color white
    font-size 1.8vw
    font-weight 700
    text-shadow: -3px 4px 1px #616161
    text-align center
  .form
    margin: 0 auto
    width: 350px
    .loginForm
      position: relative;
      margin-left 0px
      padding-top 150px
    .btn-submit
      display: inline-block




